body {
    margin:0;
    border:0;
    
}

body {
    background-image: url(media/bg\ \(4\).png);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    
}

.main-div
{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    
}

.left{
    position:relative;
    padding-top:0.5rem;
    width:20vw;
    
}

.left-character img {
    position:absolute;
    height:600px;
    width:auto;
    left:0px;
    margin-left:0.6rem;
    bottom:0px;

}

.logo img{
    margin-top:0.5rem;
    margin-left: 1rem;
    height:70px;
    width:auto;
}

.center
{
    width:60vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin-top:0px;
}

.center img
{
    width:75vh;
    height:auto;
    margin-left: 25vh;
}



.click-btn{
    margin-left: 40%;
    margin-top:1rem;
    font-size: 1.5rem;
    height:60px;
    width:200px;
    background-color:#FF725E;
    color: #FFFFFF;
    border-radius:15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.click-btn p{
    padding-top:15px;
}



.right{
    position:relative;
    width:20vw;
    
}

.title{
    position:absolute;
    margin-right:0.5rem;
    right:0px;
    margin-top: 0.6rem;
}

.title img{
    height:70px;
}

.right-character img {
    position:absolute;
    height:600px;
    width:auto;
    right:0px;
    bottom:0px;
    margin-right:0.6rem;
}

/*fonts*/

.catchphrase{
  
    font-family: apple garam;
    margin-top: 0rem;
    font-size:3.2rem;
    font-weight: 1000;
    color: #001427;
    text-align: center;
}
