body {
    margin:0;
    border:0;
    
}

body {
    background-image: url(media/bg.png);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
}

.main-div
{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    
}

.left{
    position:relative;
    padding-top:0.5rem;
    width:20vw;
    
}

.left-character img {
    position:absolute;
    height:600px;
    width:auto;
    left:0px;
    margin-left:0.6rem;
    bottom:0px;

}

.logo img{
    margin-left: 1rem;
    height:80px;
    width:auto;
}

.center
{
    width:60vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin-top:0px;
}

.to-do{
    width:60vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #001427;
}

.todo1{
    text-align: center;
    justify-content: center;
    align-items: center;
    display:flex;
}

.todo1 img{
    height:3rem;

}

.todo2{
    text-align: center;
    justify-content: center;
    align-items: center;
    display:flex;
}

.todo2 img{
    height:3rem;

}

.todo1 p{
    margin-left:20px;
}

.todo2 p{
    margin-left:20px;
}

.text-note img {
    margin-left: 55vh;
}


.text-note img {
    height:3rem;
    width:auto;
}

.pdf-note img {
    height:3rem;
    width:auto;
}

.pdf-note {
    margin-left: 55vh;
}


.click-btn{
    margin-left: 40%;
    margin-top:1rem;
    font-size: 1.5rem;
    height:60px;
    width:200px;
    background-color:#FF725E;
    color: #FFFFFF;
    border-radius:15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.click-btn p{
    padding-top:15px;
}



.right{
    position:relative;
    width:20vw;
    
}

.title{
    position:absolute;
    margin-right:0.5rem;
    
    right:0px;
    margin-top: 0.6rem;
}

.right-character img {
    position:absolute;
    height:600px;
    width:auto;
    right:0px;
    bottom:0px;
    margin-right:0.6rem;
}

/*fonts*/

.catchphrase{
  
    font-family: apple garam;
    margin-top: 0rem;
    font-size:3.5rem;
    font-weight: 1000;
    color: #001427;
    text-align: center;
}
/*
.header {
    height:10vh;
    width:100vw;
    align-items: center;
    display:flex;
    position:relative;
    align-items: center;
    justify-content:space-between;
}


.characters{
    align-items: center;
    display:flex;
    position:relative;
    align-items: center;
    justify-content:space-between;
    /*display:flex;
    position:relative;
    justify-content: center;
    height:90vh;
    width:100vw;
    
}

.left img{
    margin-left: 0.6rem;
    height:50px;
    width:auto;
}

.center p{
    font-size:1rem;
   
}

.right img{
    margin-right: 0.6rem;
    height:50px;
    width:auto;
}

.center-info{
    
    justify-content: center;
    align-items: center;
    width:700px;
    
 }

 .right-character img {
    height:500px;
    width:auto;
}

.left-character img {
    height:500px;
    width:auto;
}

.left-character {
    margin-top:20vh;
    margin-left:1rem;
    bottom:0px;
}

.right-character img {
    height:500px;
    width:auto;
}

.right-character {
    position:absolute;
    right:0px;
    bottom:0px;
    margin-right:1rem;
}
*/
/*
.left-character img {
    height:500px;
    width:auto;
    
}

.left-character {
    position:absolute;
    margin-left:1rem;
    bottom:0px;
}
.center-info{
   justify-content: center;
   width:700px;
   justify-content: space-between;
}

/*
.catchphrase{
    margin-left: 3vw ;
    font-size:2rem;
    font-weight: 1000;
    color: #001427;
}

.click-btn{
    margin-left: 45vw ;
    height:50px;
    width:100px;
    background-color:#FF725E;
    color: #001427;
    border-radius:15px;
    text-align: center;
    padding-top:1px;
}

/*.click-btn p{
    margin:10px;
    padding:10px;
    color: #001427;

}

.to-do{
    justify-content: center;
    width:500px;
    margin-left: 25vw ;
    font-size: 25px;
    color: #001427;
}

.todo1 img{
    height:4rem;

}

.todo2 img{
    height:4rem;
}

.todo1{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.todo1 pre{
    margin-left:20px;
}

.todo2 pre{
    margin-left:20px;
}


.todo2{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.right-character img {
    height:500px;
    width:auto;
}

.right-character {
    position:absolute;
    right:0px;
    bottom:0px;
    margin-right:1rem;
}

*/